<h1> PokeDex </h1>

<form method="POST" action="/teams/<%= @id %>/pokemon/pokedex" >
<% @pokemons.each do |pokemon| %>

  <input type="checkbox" name="team[pokemon_ids][]" id="<%= pokemon.id %>" value="<%= pokemon.id %>"><a href= "/pokedex/<%=pokemon.id%>"><%= pokemon.name.capitalize %></a><br>
<% end %> 
<input type="submit" value="Add to Team">
</form>
